<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Calendar
        <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Calendar</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <!-- THE CALENDAR -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="btn-group">
                                <div class="btn btn-warning btn-sm" (click)="decrement()">
                                    <span class="fa fa-angle-left"></span>
                                </div>
                                <div class="btn btn-default btn-sm" (click)="today()">
                                    Today
                                </div>
                                <div class="btn btn-warning btn-sm" (click)="increment()">
                                    <span class="fa fa-angle-right"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 text-center">
                            <h2 class="no-margin">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
                        </div>
                        <div class="col-md-4 text-right">
                            <div class="btn-group">
                                <div class="btn btn-warning btn-sm" (click)="view = 'month'" [class.active]="view === 'month'">Month</div>
                                <div class="btn btn-warning btn-sm" (click)="view = 'week'" [class.active]="view === 'week'">Week</div>
                                <div class="btn btn-warning btn-sm" (click)="view = 'day'" [class.active]="view === 'day'">Day</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div [ngSwitch]="view">
                        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                            (dayClicked)="dayClicked($event.day)">
                        </mwl-calendar-month-view>
                        <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-week-view>
                        <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-day-view>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->