<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Carousel
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Carousel</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- High chart row -->
  <div class="row">
    <div class="col-md-12">
      <!-- Carousel Content -->
      <div class="carousel">

        <ul class="slides">

          <li>
            <h2>We are covered</h2>
            <img src="images/covered.jpg" alt="">
          </li>

          <li>
            <h2>Generation Gap</h2>
            <img src="images/generation.jpg" alt="">
          </li>

          <li>
            <h2>Potter Me</h2>
            <img src="images/potter.jpg" alt="">
          </li>

          <li>
            <h2>Pre-School Kids</h2>
            <img src="images/preschool.jpg" alt="">
          </li>

          <li>
            <h2>Young Peter Cech</h2>
            <img src="images/soccer.jpg" alt="">
          </li>

        </ul>

      </div>
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->