<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
        <li><a routerLink="/dashboard/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Google Maps</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Traffic Flow Details</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="chart">
                                <!-- Google Map -->
                                <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">

                                    <sebm-google-map-marker *ngFor="let m of trafficMarkers; let i = index" [latitude]="m.lat"
                                        [longitude]="m.lng" [label]="m.label">

                                        <sebm-google-map-info-window>
                                            <strong>Custom Message can be displayed here</strong>
                                        </sebm-google-map-info-window>

                                    </sebm-google-map-marker>

                                    <sebm-google-map-circle *ngFor="let m of trafficMarkers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [radius]="radius" [fillColor]="m.color" [circleDraggable]="false"
                                        [editable]="false">
                                    </sebm-google-map-circle>

                                </sebm-google-map>
                            </div>
                            <!-- /.google map -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-red"><i class="fa fa-caret-up"></i> High Traffic</span>
                                <h5 class="description-header">Bengaluru</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-blue"><i class="fa fa-caret-up"></i> Moderate Traffic</span>
                                <h5 class="description-header">Kumbalgodu</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-yellow"><i class="fa fa-caret-down"></i> Low Traffic</span>
                                <h5 class="description-header">White Field</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block">
                                <span class="description-percentage text-green"><i class="fa fa-caret-down"></i> No Traffic</span>
                                <h5 class="description-header">Electronic City</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Google Maps - Editable Circle Marker</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <!-- Circle maker col -->
                        <div class="col-md-12">
                            <div class="chart">
                                <!-- Google Map -->
                                <sebm-google-map [latitude]="lat" [longitude]="lng">
                                    <sebm-google-map-circle [latitude]="lat" [longitude]="lng" [radius]="radius*10" [fillColor]="'green'" [circleDraggable]="true"
                                        [editable]="true">
                                    </sebm-google-map-circle>
                                </sebm-google-map>
                            </div>
                            <!-- /.google map -->
                        </div>
                        <!-- /.Circle maker col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Google Maps - Create Markers on Click</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <!-- polygon maker col -->
                        <div class="col-md-12">
                            <div class="chart">
                                <!-- Google Map -->
                                <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

                                    <sebm-google-map-marker *ngFor="let c of markers; let i = index" (markerClick)="clickedMarker(c.label, i)" [latitude]="c.lat"
                                        [longitude]="c.lng" [label]="c.label" [markerDraggable]="c.draggable" (dragEnd)="markerDragEnd(c, $event)">

                                        <sebm-google-map-info-window>
                                            <strong>Display Your Message Here</strong>
                                        </sebm-google-map-info-window>

                                    </sebm-google-map-marker>
                                </sebm-google-map>
                            </div>
                            <!-- /.google map -->
                        </div>
                        <!-- /.polygon maker col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->