<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Ng2-Chart
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">ng2-Chart</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Chart boxes -->
  <div class="row">
    <!--line chart column -->
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Line Chart</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-default" (click)="generateRandomLineChartData();"><i class="fa fa-download"></i> Random data </button>
            <div class="btn-group">
              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li (click)="changeLineChart('line');"><a>Line Chart</a></li>
                <li (click)="changeLineChart('bar');"><a>Bar Chart</a></li>
                <li (click)="changeLineChart('doughnut');"><a>Doughnut Chart</a></li>
                <li (click)="changeLineChart('radar');"><a>Radar Chart</a></li>
                <li (click)="changeLineChart('pie');"><a>Pie Chart</a></li>
                <li (click)="changeLineChart('polarArea');"><a>Polar Area Chart</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">
                <strong>Petrol Price: Jan - 2016 to Dec 2016 in 3 countries</strong>
              </p>
              <div class="chart" *ngIf="lineChartData">
                <!-- Line Chart Canvas -->
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="chartOptions" [colors]="lineChartColors"
                  [legend]="chartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <!-- /.chart-responsive -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.line chart column -->

    <!-- Bar chart column -->
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Bar Chart</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-default" (click)="generateRandomBarChartData();"><i class="fa fa-download"></i> Random data </button>
            <div class="btn-group">
              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li (click)="changeBarChart('line');"><a>Line Chart</a></li>
                <li (click)="changeBarChart('bar');"><a>Bar Chart</a></li>
                <li (click)="changeBarChart('doughnut');"><a>Doughnut Chart</a></li>
                <li (click)="changeBarChart('radar');"><a>Radar Chart</a></li>
                <li (click)="changeBarChart('pie');"><a>Pie Chart</a></li>
                <li (click)="changeBarChart('polarArea');"><a>Polar Area Chart</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">
                <strong>Diesel Price: Jan - 2016 to Dec 2016 in 2 countries</strong>
              </p>
              <div class="chart" *ngIf="barChartData">
                <!-- Bar Chart Canvas -->
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="chartOptions" [colors]="barChartColors"
                  [legend]="chartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <!-- /.chart-responsive -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.bar chart column -->

    <!-- Doughnut chart column -->
    <div class="col-md-6">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Doughnut Chart</h3>
          <div class="box-tools pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li (click)="changeDoughnutChart('line');"><a>Line Chart</a></li>
                <li (click)="changeDoughnutChart('bar');"><a>Bar Chart</a></li>
                <li (click)="changeDoughnutChart('doughnut');"><a>Doughnut Chart</a></li>
                <li (click)="changeDoughnutChart('radar');"><a>Radar Chart</a></li>
                <li (click)="changeDoughnutChart('pie');"><a>Pie Chart</a></li>
                <li (click)="changeDoughnutChart('polarArea');"><a>Polar Area Chart</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">
                <strong>My M.E Marks - Semester Wise</strong>
              </p>
              <div class="chart" *ngIf="doughnutChartData">
                <!-- Dougnut Chart Canvas -->
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="chartOptions" [colors]="doughnutChartColors"
                  [legend]="chartLegend" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <!-- /.chart-responsive -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.doughnut chart column -->

    <!-- Pie chart column -->
    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Pie Chart</h3>
          <div class="box-tools pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li (click)="changeRadarChart('line');"><a>Line Chart</a></li>
                <li (click)="changeRadarChart('bar');"><a>Bar Chart</a></li>
                <li (click)="changeRadarChart('doughnut');"><a>Doughnut Chart</a></li>
                <li (click)="changeRadarChart('radar');"><a>Radar Chart</a></li>
                <li (click)="changeRadarChart('pie');"><a>Pie Chart</a></li>
                <li (click)="changeRadarChart('polarArea');"><a>Polar Area Chart</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">
                <strong>My M.Sc Marks - Semester Wise</strong>
              </p>
              <div class="chart" *ngIf="pieChartData">
                <!-- Radar Chart Canvas -->
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="chartOptions" [colors]="pieChartColors"
                  [legend]="chartLegend" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <!-- /.chart-responsive -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.radar chart column -->

        <!-- Radar chart column -->
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Radar Chart</h3>
          <div class="box-tools pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li (click)="changeRadarChart('line');"><a>Line Chart</a></li>
                <li (click)="changeRadarChart('bar');"><a>Bar Chart</a></li>
                <li (click)="changeRadarChart('doughnut');"><a>Doughnut Chart</a></li>
                <li (click)="changeRadarChart('radar');"><a>Radar Chart</a></li>
                <li (click)="changeRadarChart('pie');"><a>Pie Chart</a></li>
                <li (click)="changeRadarChart('polarArea');"><a>Polar Area Chart</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">
                <strong>My M.Sc Marks - Semester Wise</strong>
              </p>
              <div class="chart" *ngIf="radarChartData">
                <!-- Radar Chart Canvas -->
                <canvas baseChart [data]="radarChartData" [labels]="radarChartLabels" [options]="chartOptions" [colors]="radarChartColors"
                  [legend]="chartLegend" [chartType]="radarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <!-- /.chart-responsive -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.radar chart column -->

        <!-- Polar area chart column -->
    <div class="col-md-6">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Polar Area Chart</h3>
          <div class="box-tools pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li (click)="changePolarChart('line');"><a>Line Chart</a></li>
                <li (click)="changePolarChart('bar');"><a>Bar Chart</a></li>
                <li (click)="changePolarChart('doughnut');"><a>Doughnut Chart</a></li>
                <li (click)="changePolarChart('radar');"><a>Radar Chart</a></li>
                <li (click)="changePolarChart('pie');"><a>Pie Chart</a></li>
                <li (click)="changePolarChart('polarArea');"><a>Polar Area Chart</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">
                <strong>My M.Sc Marks - Semester Wise</strong>
              </p>
              <div class="chart" *ngIf="polarAreaChartData">
                <!-- POlar area Chart Canvas -->
                <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [options]="chartOptions" [colors]="polarAreaChartColors"
                  [legend]="chartLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <!-- /.chart-responsive -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.polar area chart column -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->