<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6" *ngFor="let box of boxData">
      <!-- small box -->
      <div class="small-box bg-{{box.color}}">
        <div class="inner">
          <h3>{{box.value}} <sup style="font-size: 20px">{{box.symbol}}</sup></h3>
          <p>{{box.label}}</p>
        </div>
        <div class="icon">
          <i class="fa {{box.icon}}"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Weather Status</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-9">
              <div class="chart">
                <!-- Leaflet weather map -->
                <leaflet-weather></leaflet-weather>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-md-3">
              <h1 class="weather-title">Weather in Bangalore, IN</h1>
              <p class="text-center">
                <live-time></live-time>
              </p>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <tbody>
                    <tr *ngFor="let weather of weatherData">
                      <td><a>{{weather.key}}</a></td>
                      <td><span class="label label-{{weather.color}}">{{weather.value}}</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-2 col-xs-4" *ngFor="let day of dayWeather">
              <div class="description-block border-right">
                <img src="{{day.url}}">
                <div class="description-percentage text-{{day.color}}"><i class="fa fa-caret-{{day.iconDirection}}"></i>{{day.temperature}}</div>
                <h5 class="description-header">{{day.windSpeed}}</h5>
                <span class="description-text">{{day.status}}</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- High chart row -->
  <div class="row">
    <high-chart-weather></high-chart-weather>
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->