<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Ng2-Alert Notifications
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Notifications</a></li>
        <li class="active">Ng2-Notifications</li>
    </ol>
</section>

<!-- Notification Component -->
<simple-notifications></simple-notifications>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column (example) -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Demo</h3>
                </div>
                <!-- /.box-header -->
                <!-- body content -->
                <div class="box-body">
                    <div class="input-group">
                        <span class="input-group-addon">Title</span>
                        <input type="text" class="form-control" placeholder="Notification Title" [(ngModel)]="title">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">Message</span>
                        <input type="text" class="form-control" placeholder="Notification Message" [(ngModel)]="content">
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" (click)="showAlert('success');" class="btn btn-primary">Success</button>
                    <button type="button" (click)="showAlert('info');" class="btn btn-primary">Info</button>
                    <button type="button" (click)="showAlert('alert');" class="btn btn-primary">Alert</button>
                    <button type="button" (click)="showAlert('error');" class="btn btn-primary">Error</button>
                    <button type="button" (click)="showAlert('bare');" class="btn btn-primary">Bare (Empty)</button>
                    <button type="button" (click)="showAlert('html');" class="btn btn-primary">HTML</button>
                </div>
                <div class="box-footer">
                    <button type="button" (click)="clearAlert();" class="btn btn-primary">Clear Notification</button>
                </div>
            </div>
            <!-- /.box -->

            <!-- Options Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Horizontal Form</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="horizontal-position" class="col-sm-3 control-label">Horizontal Position</label>
                            <div class="col-sm-3">
                                <div class="radio radio-warning">
                                    <input type="radio" id="top-position" name="horizontal-position"><label for="top-position"> Top</label>
                                </div>
                                <div class="radio radio-warning">
                                    <input type="radio" id="bottom-position" name="horizontal-position"><label for="bottom-position"> Bottom</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                        <input type="checkbox"> Remember me
                      </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-info pull-right">Sign in</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
        <!-- right column (options)-->
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Horizontal Form</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                        <input type="checkbox"> Remember me
                      </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-info pull-right">Sign in</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
            <!-- general form elements disabled -->
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">General Elements</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Text</label>
                        <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                    <div class="form-group">
                        <label>Text Disabled</label>
                        <input type="text" class="form-control" placeholder="Enter ..." disabled>
                    </div>

                    <!-- textarea -->
                    <div class="form-group">
                        <label>Textarea</label>
                        <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                    <div class="form-group">
                        <label>Textarea Disabled</label>
                        <textarea class="form-control" rows="3" placeholder="Enter ..." disabled></textarea>
                    </div>

                    <!-- input states -->
                    <div class="form-group has-success">
                        <label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Input with success</label>
                        <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ...">
                        <span class="help-block">Help block with success</span>
                    </div>
                    <div class="form-group has-warning">
                        <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> Input with
                    warning</label>
                        <input type="text" class="form-control" id="inputWarning" placeholder="Enter ...">
                        <span class="help-block">Help block with warning</span>
                    </div>
                    <div class="form-group has-error">
                        <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with
                    error</label>
                        <input type="text" class="form-control" id="inputError" placeholder="Enter ...">
                        <span class="help-block">Help block with error</span>
                    </div>

                    <!-- checkbox -->
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                      <input type="checkbox">
                      Checkbox 1
                    </label>
                        </div>

                        <div class="checkbox">
                            <label>
                      <input type="checkbox">
                      Checkbox 2
                    </label>
                        </div>

                        <div class="checkbox">
                            <label>
                      <input type="checkbox" disabled>
                      Checkbox disabled
                    </label>
                        </div>
                    </div>

                    <!-- radio -->
                    <div class="form-group">
                        <div class="radio">
                            <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                      Option one is this and that&mdash;be sure to include why it's great
                    </label>
                        </div>
                        <div class="radio">
                            <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                      Option two can be something else and selecting it will deselect option one
                    </label>
                        </div>
                        <div class="radio">
                            <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                      Option three is disabled
                    </label>
                        </div>
                    </div>

                    <!-- select -->
                    <div class="form-group">
                        <label>Select</label>
                        <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                    </div>
                    <div class="form-group">
                        <label>Select Disabled</label>
                        <select class="form-control" disabled>
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                    </div>

                    <!-- Select multiple-->
                    <div class="form-group">
                        <label>Select Multiple</label>
                        <select multiple class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                    </div>
                    <div class="form-group">
                        <label>Select Multiple Disabled</label>
                        <select multiple class="form-control" disabled>
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->