.live-time{
    margin: 0px 0px 15px 0px;
    padding: 5px;
    font-weight: bold;
}
@media(min-width:992px) and (max-width:1100px){
    .live-time{
        font-size:22px;
    }
}
@media(min-width:1110px) and (max-width:1300px){
    .live-time{
        font-size:28px;
    }
}