<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    General Form Elements
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Table</a></li>
    <li class="active">Data Table</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Data Table</h3>
          <div class="col-md-4">
            <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control"
              (tableChanged)="onChangeTable(config)" />
          </div>

          <div class="box-tools pull-right">
            <div class="btn-group" style="padding-right:12px;">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="download-button">
                    <i class="fa fa-download"></i> Download </button>
              <ul class="dropdown-menu" role="menu">
                <li><a id="download-excel">Download Excel</a></li>
                <li><a id="download-pdf">Download PDF</a></li>
              </ul>
            </div>

            <span>
                 Items per Page : 
                <select style="height: 30px;" [(ngModel)]="itemsPerPage" (change)="onChangeTable(config)">
                  <option *ngFor="let i of items">{{i}}</option>
              </select>
            </span>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
          </ng-table>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <div class="col-md-10">
            <pagination *ngIf="config.paging" class="pagination" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
              [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
            </pagination>
          </div>
          <div class="col-md-2">
            <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
          </div>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->