



<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            {{title}}
        </div>
        <form>
            <div class="col-md-4">
                <input type="text" #skillText class="form-control">
            </div>
            <div class="col-md-8">
                <button type="button" class="btn btn-success" (click)="addSkill(skillText.value);">Add Skill</button>
            </div>
        </form>
        <div class="panel-body">
            <button type="button" class="btn btn-primary" #btn (click)="init($event);">Load Data</button>
                <ul>
                    <li *ngFor="let skill of skills">
                        {{skill.skillName}}
                    </li>
                </ul>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            {{panelTitle}}
        </div>
        <div class="panel-body">
            <form>
                <input class="form-control" #name (keyup)="changeTitle(name.value);">
            </form>
        </div>
    </div>
</div>

<hr>